In [4]:
import pandas as pd
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.layers import Dense, LSTM, Embedding
from tensorflow.keras.models import Sequential
from transformers import BertTokenizer

In [5]:
df= pd.read_csv(r'dataset\balance.csv')
df.head()

   Rating                                        Description
0       5  Klenteng Ban Hin Kiong merupakan Klenteng tert...
1       5  Airnya sejuk. Tempatnya bebas plastik. Bagi ya...
2       5  Tiap minggu pasti kesini buat foto2 doangüòÅ kar...
3       5  Pernah kesana pergi liat bunker jepang, naik p...
4       5  Mengikuti Talkshow " Menyingkap Pesona Wastra ...